.table{
  background-color: rgba(0, 0, 0, 0) !important;
  // max-width: ;
  &__text-left{
    background-color: rgba(0, 0, 0, 0) !important;
    border-right:2px solid rgba(0, 0, 0, 0.197) !important;

    &.without{
      border-right:0px !important ;
    }
  }
  &__item{
    border-right:2px solid rgba(0, 0, 0, 0.197) !important;
  }


}
td{
  border-bottom:1.5px solid rgba(0, 0, 0, 0.197) !important;
}

.search-field{
  max-width:15% !important;
}

.vc-monthly .is-not-in-month *{
  opacity: 0.2 !important;
}

.v-expansion-panel-text__wrapper{
  display: flex !important;
  justify-content: center !important;
}

