.city-title{
  background-color:rgba(77, 184, 175, 0.3);
  width: 220px;
  height: 80px;
  border-radius: 35% 35% 0 0 !important;
}
.center-address{
  background-color: rgba(77, 184, 175, 0.1) !important;
  width: 220px;
  height: 80px;
}

.end-address{
  background-color: rgba(77, 184, 175, 0.1) !important;
  width: 220px;
  height: 80px;
  border-radius: 0 0 35% 35% !important;
}