@charset 'UTF-8';

.custom-icon {
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor !important;
    * {
      fill: currentColor !important;
    }
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

li {
  list-style: none;
}

body {
  margin: 0;
}

.mt-28{
  margin-top: 112px !important;
}
.all-pages{
  background-color: #f5f5f5 !important;
}
// Настройка для календаря

.vc{
  width: 75% !important;
}
.vc-container{
  border: none !important;
  background-color: #f5f5f5 !important;

}
.vc-pane-header-wrapper{
  padding: 0 20% !important;

}
.vc-header{
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  padding-bottom: 50px !important;


}
.vc-title{
  background-color: #fff !important;
  font-size: 24px !important;
}
.vc-weekday{
  font-size: 20px !important;
  background-color: rgba(77, 184, 175, 0.15) ;
  border-radius: 50%;
  width: 65px ;
  height: 65px ;

  display: flex;
  justify-content: center;
  align-items: center;
}
.vc-day{
  background-color: rgba(77, 184, 175, 0.15) ;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: 10px 0;

}
.vc-day-content{
  font-size: 20px !important;
}
.vc-monthly .is-not-in-month *{
  opacity: 0.3 !important;
}
.vc-highlight-bg-solid{
  background-color: rgba(77, 184, 175, 0.5) !important;
  width: 100% !important;
  height: 100% !important;
}
.vc-green > .vc-highlight-bg-solid{
  background-color: rgba(0, 209, 192, 0.595) !important;
  width: 100% !important;
  height: 100% !important;
}